:root {
  font-size: 16px;
}

body {
  background-image: url("../images/cantina.png");
  background-color: #cccccc;
  background-size: cover;
  margin: 2%;
}

h3 {
  color: yellow;
  margin: 0.5%;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-shadow: -2px 0 0 black,
    -4px 0 0 black,
    2px 0 0 black,
    4px 0 0 black;
}

#game-start {
  position: fixed;
  top: 40vh;
  left: 40vw;
  display: flex;
}

.game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-top: -1.5%;
}

#game-board {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: -2%;
}

#img-game-start {
  padding: 1.5%;
  opacity: 0;
  animation: opacityOn 5s normal forwards;
  animation-delay: 1s;
  animation-iteration-count: 100;
}

#img-game-function {
  margin-top: 20px;
  padding-bottom: 1.5%;
}

@keyframes opacityOn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#canvas {
  flex: none;
  background: #fdf2d0;
  outline: 5px solid red;
  outline-style: double;
  border-radius: 2%;
}



